.container {
	background-image: url("http://i.imgur.com/rPaKlz9.jpg");
     no-repeat center center fixed;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
	background-color: #95a5a6;
  width: 100%;
}
body { background-color: #95a5a6;
       font-family: orpheuspro;
 }
#firstColumn {  text-align: center;
	              width: 50%;
								margin: 0 auto;
}

h1 { padding-top: 75px;
	   text-align: center;
     width: 50%;
		 margin: 0 auto;
}

#label {      text-align: center;
              width: 50%;
							margin: 0 auto;
							display: inline-block;
}
#searchMovie {  text-align: center;
                width: 100%;
							  margin: 0 auto;
							  display: inline-block;
}
.form-control { width: 100%;
	              margin: 0 auto;
								display: inline-block;
								text-align: center;

}
/*
.form-group { text-align: center;
              width: 50%;
							margin: 0 auto;
							display: inline-block;
}



  <div class=".col-md-6" id="secondColumn"></div>
	*/
